@import '../../../styles/mixin';
@import '../../../styles/variables';

.loader_container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $z-index-loader;
  //   background-color: rgba(143, 143, 143, 0.255);
  @include display(flex, $align-items: center, $justify-content: center);
  backdrop-filter: blur(5px);
}

.spinner {
  position: relative;
  width: 16px;
  height: 16px;
}

.spinner div {
  width: 100%;
  height: 100%;
  background-color: #004dff;
  border-radius: 50%;
  animation: spinner-4t3wzl 1.25s infinite backwards;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(0, 77, 255, 0.9);
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(0, 77, 255, 0.8);
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(0, 77, 255, 0.7);
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(0, 77, 255, 0.6);
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(0, 77, 255, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}

// =================================================================
/* From uiverse.io by @mobinkakei */
.loader_3 {
  width: 10em;
  display: flex;
  justify-content: space-evenly;
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
}

.circle:nth-child(1) {
  background-color: #90be6d;
}

.circle:nth-child(2) {
  background-color: #f9c74f;
}

.circle:nth-child(3) {
  background-color: #f8961e;
}

.circle:nth-child(4) {
  background-color: #f3722c;
}

.circle:nth-child(5) {
  background-color: #f94346;
}

.circle::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  animation: animateLoader38 2s ease-out infinite;
}

.circle:nth-child(1)::before {
  background-color: #90be6d;
}

.circle:nth-child(2)::before {
  background-color: #f9c74f;
  animation-delay: 0.2s;
}

.circle:nth-child(3)::before {
  background-color: #f8961e;
  animation-delay: 0.4s;
}

.circle:nth-child(4)::before {
  background-color: #f3722c;
  animation-delay: 0.6s;
}

.circle:nth-child(5)::before {
  background-color: #f94346;
  animation-delay: 0.8s;
}

@keyframes animateLoader38 {
  0% {
    transform: scale(1);
  }

  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}
