@import '../../../styles/variables';
.container {
  position: relative;
  min-height: calc(100% - $header-container-height);

  .forbidden_container {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    background-color: hsl(45deg 99% 57%);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .forbidden_header {
      display: flex;
      padding: 2rem 2rem 0;
      .status_container {
        flex: 1;
        padding-right: 2rem;
        margin: auto 0;
        .status {
          font-size: 8rem;
          line-height: 7.5rem;
          margin-bottom: 0;
        }
        .status_name {
          font-size: 1.25rem;
          text-transform: uppercase;
        }
      }
      .img_container {
        flex: 1;
        padding: 10px;
        background-color: hsl(46deg 100% 77%);
        border-radius: 20px 20px 0 0;
        img {
          width: 100%;
        }
      }
    }
    .forbidden_text {
      padding: 1rem;
      background-color: #ffffff;
    }
    .forbidden_navigator {
      cursor: pointer;
      padding: 0.3rem;
      background-color: #000000;
      color: #ffffff;
      &:hover {
        color: #fec825;
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .forbidden_container {
    width: 90% !important;
  }
  .forbidden_header {
    display: flex;
    flex-direction: column-reverse;
    .status_container {
      padding-right: 0 !important;
      margin-top: 1rem !important;
    }
    .img_container {
      display: none;
    }
  }
}
