$width: 14px;
.box_badge {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 8px;
  transition: all 0.25s;
  cursor: pointer;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
  }
  .badge_number {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: $width;
    width: $width;
    line-height: 12px;
    position: absolute;
    text-align: center;
    background-color: #989898;
    display: inline-block;
    vertical-align: middle;
  }
}
