.backdrop {
  // background: url('/img/background-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  max-width: 500px;
  padding: 2rem 3rem;
  border-radius: 6px;
  border: 1px solid #dadce0;
}

@media screen and (max-width: 575.98px) {
  .container {
    padding: 2rem;
  }
}

.background {
  background: url('/img/bg.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer {
    margin-top: auto;
    padding: 1rem 0;
    font-size: 13px;
    letter-spacing: 0.2rem;
  }
}
