@import '../../../../styles/mixin';

$remove-font-size: 13px;

.card_item_container {
  display: flex;
  padding: 20px;
  border: solid rgb(216 212 212);
  border-width: 0.5px 1px 0;
  p {
    margin-bottom: 0;
  }
  .img_container {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      padding: 5px;
      display: block;
      max-width: 100%;
    }
    .remove {
      cursor: pointer;
      color: grey;
      font-size: $remove-font-size;
      line-height: $remove-font-size * 1.5;
      &:hover {
        font-weight: 700;
      }
    }
  }

  .details_container {
    width: 100%;
    padding: 0 10px;

    .name {
      font-weight: 700;
      padding-bottom: 5px;
    }
    .gift {
      padding-left: 10px;
      font-size: 14px;
    }
    .color {
      margin-top: 10px;
      font-size: 13px;
    }
  }
  .price_quantity_container {
    @include display(
      flex,
      $align-items: flex-end,
      $justify-content: space-between
    );
    flex-direction: column;
    .price_container {
      font-size: 14px;
      text-align: center;
      .discount_price {
        color: #f30c28;
        margin-bottom: 2px;
      }
      .price {
        color: #666;
      }
      .remove {
        font-size: 14px;
        border-radius: 10px;
      }
    }
    .quantity_container {
      border: 1px solid #000000;
      border-radius: 6px;
      width: 90px;
      overflow: hidden;
      font-size: 13px;
      box-shadow: none;
      &:focus-within,
      &:hover {
        box-shadow: 0 0 0 0.15rem rgb(33 37 41 / 50%);
      }
      display: flex;
      align-items: center;
      .quantity_button {
        width: 40px;
        color: #0d6efd;
        border: none;
        background-color: #d4e5fd;
        &:hover {
          color: #ffffff;
          background-color: #4575bd;
        }
      }
      .quantity_input {
        text-align: center;
        width: 100%;
        border: none;
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}
