$width: 15px;
.rating {
  background-size: 100%;
  background-image: url('/img/rating/empty.png');
  min-width: $width;
  max-width: $width;
  height: $width;
  position: relative;
  &.cover_rating_hover {
    cursor: pointer;
    .cover_rating {
      width: 0;
    }
    &:hover {
      .cover_rating {
        width: 100% !important;
      }
    }
  }
  .cover_rating {
    position: absolute;
    height: 100%;
    background-image: url('/img/rating/cover.png');
    background-size: $width;
  }
}

.container {
  display: flex;
  align-items: center;
}
