$item-name-font-size: 14px;
$item-price-font-size: 16px;
$item-vote-font-size: 14px;
$item-detail-font-size: 13px;

.card_container {
  padding: 10px;
  height: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  //   border: 1px solid black;
  cursor: pointer;
  .item_img {
    // height: 300px;
    // line-height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      display: block;
      padding: 20px 0;
      margin: 8px auto 0;
      max-width: 100%;
      transition: all 300ms ease-in-out;
    }
  }
  .item_name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: $item-name-font-size;
    line-height: $item-name-font-size * 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .item_price {
    display: block;
    font-weight: bold;
    font-size: $item-price-font-size;
    line-height: $item-price-font-size * 1.5;
    color: #222;
    .item_discount_percent {
      color: #eb5757;
      background: #fff0e9;
      border-radius: 4px;
        padding: 2px;
      margin-left: 2px;
      font-size: $item-price-font-size - 2px;
      line-height: $item-price-font-size * 1.5;
    }
  }
  .item_gift {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .item_vote {
    padding-top: 4px;
    color: #999;
    display: flex;
    align-items: center;
    font-size: $item-vote-font-size;
    line-height: $item-vote-font-size * 1.5;
    b {
      color: #fb6e2e;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .item_img {
      img {
        margin: 0 auto 8px;
      }
    }
    .item_name {
      color: #288ad6;
    }
  }
  .item_details {
    margin-top: 7px;
    padding-left: 21px;
    li {
      font-size: $item-detail-font-size;
      line-height: $item-detail-font-size * 1.5;
    }
  }
}
