@import '../../../styles/variables';

.notfound_container {
  position: relative;
  min-height: calc(100% - $header-container-height);

  .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;

    .notfound_404 {
      height: 190px;

      h1 {
        font-family: monospace;
        font-size: 146px;
        font-weight: 700;
        margin: 0;
        color: #232323;
      }
    }

    h2 {
      font-family: monospace;
      font-size: 22px;
      font-weight: 700;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: #232323;
    }

    .notfound_404 h1 > span {
      display: inline-block;
      width: 120px;
      height: 120px;
      background-image: url(/img/not-found-emoji.png);
      background-size: cover;
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
      z-index: -1;
    }

    p {
      font-family: monospace;
      color: #787878;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 767px) {
  .notfound .notfound_404 {
    height: 115px;

    h1 {
      font-size: 86px;

      > span {
        width: 86px;
        height: 86px;
      }
    }
  }
}
