@import '../../../../styles/mixin';
.container {
  display: flex;
  padding: 20px;
  border: solid rgb(216 212 212);
  border-width: 0.5px 1px;
  @include display(flex, $align-items: center, $justify-content: space-between);
  .price {
    font-size: 14px;
    text-align: center;
  }
}
