$item-name-font-size: 22px;
$item-price-font-size: 14px;
$item-discount-price-font-size: 18px;
$item-vote-font-size: 14px;
$item-detail-font-size: 13px;

.thumbnail {
  max-width: 350px;
  padding: 20px;
}

.name {
  padding-bottom: 10px;
  h3 {
    padding-top: 20px;
    font-weight: 700;
    font-size: $item-name-font-size;
    padding-bottom: 4px;
    border-bottom: 1px solid #e0e0e0;
  }
}

.price_container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  .discount_price {
    font-weight: bold;
    font-size: $item-discount-price-font-size;
    line-height: $item-discount-price-font-size * 1.5;
    color: #eb5757;
    padding-right: 4px;
  }
  .price {
    color: #666666;
    font-size: $item-price-font-size;
    line-height: $item-price-font-size * 1.5;
  }
  .discount_percent {
    background-color: #eb5757;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 10px;
    margin-right: 5px;
    font-size: $item-price-font-size - 2px;
    line-height: $item-price-font-size * 1.5;
  }
}

.detail_container {
  margin-bottom: 0;
  .detail {
    margin-bottom: 0;
    padding: 2px 0;
  }
}
