@import '../../../styles/variables';

.modal {
  background-color: rgba(112, 112, 112, 0.5);
  z-index: $z-index-backdrop;
}

.show {
  display: block;
}

.appear {
  animation: modal-in 0.5s;
}

@keyframes modal-in {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.disapper {
  animation: modal-out 0.6s;
}

@keyframes modal-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
