$sidebar-padding: 20px;
$sidebar-width: 300px;
$sidebar-bg: linear-gradient(0deg, #1b2130, #1b2130);
$sidebar-item-icon-width: 48px;
$sidebar-item-active-bg: #007aff;
$sidebar-item-hover-bg: #6e6e6e73;