@import '../../../styles/mixin';
@import '../../../styles/variables';

.header {
  padding-top: 4rem;
  text-align: center;
}

.link {
  color: $a-color !important;
  font-weight: 700;
  text-decoration: underline;
  &:hover {
    color: $a-color-hover !important;
  }
}
