@import '../../../styles/mixin';
@import '../../../styles/variables';

%hover_and_active_nav_item {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  display: block;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 20px);
  text-decoration: none;
  transition: width 0.1s ease;
}

.header {
  @include display(flex, $align-items: center, $justify-content: space-between);
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid rgba(226, 226, 226, 0.45);
  border-radius: 10px;
  box-shadow: rgba(139, 139, 147, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav {
  width: 300px;
  margin: 0 auto;
  background: #282c34;
  height: 60px;
  line-height: 60px;

  ul li {
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: 0 10px;

    .nav_link {
      transition: all ease-in-out 0.25s;
      font-weight: bold;
      color: #ffffff;
      position: relative;
      text-decoration: none;

      &:not(.active):hover {
        &::after {
          background-color: #ffffff;
          @extend %hover_and_active_nav_item;
        }
      }
    }

    .active {
      color: #1505fc;
      background-color: #ffffff;
      &::after {
        @extend %hover_and_active_nav_item;
        background-color: #1505fc;
        color: #1505fc;
      }
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 4px;
  border: 3px solid #b3b3b3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
