.root {
  background-color: #d70018;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo_container {
  min-width: 200px;
  cursor: pointer;
}
.category {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 8px;
  transition: all 0.25s;
  cursor: pointer;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
  }
  .category_icon {
    height: 20px;
    width: auto;
    object-fit: cover;
    vertical-align: middle;
  }
}

.cart_sign_in {
  display: flex;
  align-items: center;
}
