$created-by-font-size: 15px;
$created-at-font-size: 12px;

.container {
  padding: 10px 0;
  margin-bottom: 1rem;
  .created_by_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    .acronym_name {
      padding: 5px 7px;
      background-color: #929191;
      border-radius: 5px;
      color: #ffffff;
      margin-right: 4px;
    }
    .created_by {
      font-weight: 600;
      font-size: $created-by-font-size;
    }
    .created_at {
      text-decoration: italic;
      font-size: $created-at-font-size;
    }
  }
  .review_container {
    width: calc(100% - 40px);
    margin-top: 5px;
    margin-left: 40px;
    padding: 0.6rem;
    background-color: #f3f4f6;
    border-radius: 10px;
    .rating {
      display: flex;
      align-items: center;
    }
    .description {
      margin-bottom: 0;
    }
  }
  .description {
    margin-bottom: 0;
  }
}
