.cart_empty {
  background-image: url(https://cdn.tgdd.vn/mwgcart/vue-pro/css/img/cart-mobile-1.png);
  background-repeat: no-repeat;
  background-size: 133px 305px;
  background-position: 0 -98px;
  width: 70px;
  height: 55px;
  display: block;
  margin: 0 auto 10px;
}

.button_back {
  margin: 0 auto;
}
