@import '../../../styles/variables';

%d-flex-align-center {
  display: flex;
  align-items: center;
}

.sidebar {
  padding: $sidebar-padding;
  box-sizing: border-box;
  background: $sidebar-bg;
  color: #adb5bd;
  z-index: $z-index-header + 1;
  width: $sidebar-padding * 2 + $sidebar-item-icon-width;
  transition: all 0.5s;
  min-height: 100vh;
  .sidebar_sticky {
    position: sticky;
    top: $sidebar-padding;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nav {
    width: $sidebar-item-icon-width;
    max-height: $sidebar-item-icon-width;
    overflow: hidden;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    @extend %d-flex-align-center;
    transition: all 0.5s;
    .nav_icon {
      width: $sidebar-item-icon-width;
      min-width: $sidebar-item-icon-width;
      text-align: center;
    }
    .nav_text {
      display: block;
      text-overflow: ellipsis;
      padding-right: 20px;
      & > span {
        white-space: nowrap;
      }
    }
  }

  .nav_item {
    &:hover {
      background-color: $sidebar-item-hover-bg;
    }
    &.active {
      background-color: $sidebar-item-active-bg;
    }
  }

  &.is_open {
    width: $sidebar-width;
    .nav {
      width: 100%;
    }
  }
  .sidebar_header {
    @extend %d-flex-align-center;
    .title {
      width: 100%;
    }
    .close_button {
      display: none;
    }
  }
  .version_container {
    margin-top: auto;
    p {
      vertical-align: bottom;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .sidebar {
    width: 100%;
    margin-left: -100%;
    &.is_open {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      transition: all 0.5s;
      height: 100vh !important;
    }

    .sidebar_header {
      .close_button {
        display: block;
      }
    }
  }
}
