$breadcrumb_color: #848484;
$breadcrumb_active_color: #000000;

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin: 0;
  list-style: none;
}

.breadcrumb_item {
  color: $breadcrumb_color;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  list-style: none;
  & + .breadcrumb_item {
    padding-left: 0.5rem;
  }
  &:not(:first-child)::before {
    content: '>' !important;
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
  }
}

.active {
  font-weight: 700;
  color: $breadcrumb_active_color;
}
