@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin display(
  $display,
  $align-items: null,
  $justify-content: null,
  $padding: null,
  $margin: null
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  padding: $padding;
  margin: $margin;
}
