// ===== a =====
$a-color: #000000;
$a-color-hover: #0d6efd;

// ===== sidebar =====

$sidebar-padding: 20px;
$sidebar-width: 300px;
$sidebar-bg: linear-gradient(0deg, #1b2130, #1b2130);
$sidebar-item-icon-width: 48px;
$sidebar-item-active-bg: #007aff;
$sidebar-item-hover-bg: #6e6e6e73;

// ===== z-index =====
$z-index-loader: 3000;
$z-index-backdrop: 2000;
$z-index-header: 1900;
$z-index-1st: 1800;

$header-container-height: 72px;
