@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
