@import '../../../styles/variables';

.container {
  font-size: 14px;
  position: fixed;
  z-index: $z-index-backdrop;
}

.position {
  top: 70px;
  right: 1rem;
}

.position > div {
  top: 70px;
  right: 1rem;
  animation: toast-in-right 0.7s;
}

.disappear {
  animation: toast-disappear 0.8s !important;
}

.notification {
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px #999;
  color: #000;
  opacity: 0.95;
  transition: 0.3s ease;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
}

.toast {
  width: 365px;
  color: #fff;
  padding: 20px;
}
.notificationBox {
  word-wrap: break-word;
}

.container button {
  float: right;
  background: none;
  border: none;
  color: #ffffff;
  opacity: 0.8;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
  width: 300px;
  height: 18px;
}

.description {
  margin: 0;
  text-align: left;
}

@keyframes toast-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toast-disappear {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
  }
}
