@import '../../../styles/mixin';
@import '../../../styles/variables';

.content {
  // padding: 20px;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  margin-left: 0;
  width: 100%;
  transition: all 0.5s;
  .header {
    // padding: 20px;
    // background-color: #ffffff;
    @include position(sticky, $top: 0);
    z-index: $z-index-1st;
    height: $header-container-height;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  // align-items: stretch;
}

@media only screen and (max-width: 575.98px) {
  .content.is_open {
    margin-left: -100%;
  }
}
